<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/register" method="POST" >
                <input type="text" placeholder="Username" name="username" required>
                <input type="email" placeholder="Email" name="email" required>
                <input class="input" type="password" placeholder="Password" name="password" minlength="8" required>
                <input class="input1" type="password" placeholder="Confirm Password" name="confrimPassword" minlength="8"  required>
                <button>Sign Up</button>
            </form>
</body>
</html>